graphiti-core 
fastapi 
uvicorn 
python-dotenv 
langchain-community 
langchain-core 
langchain 
dspy 
python-docx
python-multipart               
graphiti-core[google-genai]                                                  
graphiti-core[groq]
passlib[bcrypt]
python-jose[cryptography]